__pycache__
*.log
database
rabbitmq
.gitignore
.pre-commit-config.yaml
README.md
.DS_Store
.idea
.git
.ruff_cache
.github
app/static/*
app/media/*
.env.example
.env
docker-compose.yml
docker-compose-prod.yml